<!DOCTYPE html>
<html lang="en" dir="1tr">

<head>
    <meta charset="utf-8">
    <title>About</title>
    <!--<link rel="stylesheet" href="{{ url_for( 'static',filename='navyastyleee.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for( 'static',filename='about.css') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>


<body style="background-color: black;">

    <div class='navbar'>
        <div class="container">
            <div class="logo">
                <h1>Cyber Garuna</h1>
            </div>
            <nav>
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/login">Login</a></li>
                    <li><a href="/register_complaint">Bullied?</a></li>
                    <li><a href="/check_complaint">Check?</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>
    </div>

    <div class="center">
        <div class="name-left">
            <div class="pic">
                <img class="image" src="/static/images/headshot.jpg">
            </div>
            <div class="line"></div>
            <h4>Agastya <br>
                <p>ML model</p>
            </h4>


        </div>
        <div class="name-right">
            <h4>Navya<br>Front-end</h4>

            <div class="line"></div>
            <div class="pic">
                <img class="image" src="/static/images/navyatwo.PNG">
            </div>

        </div>
        <div class="name-left">
            <div class="pic">
                <img class="image" src="/static/images/sarvesh.jpeg">
            </div>
            <div class="line"></div>
            <h4>Sarvesh<br>Tweepy and Scripting</h4>


        </div>
        <div class="name-right">

            <h4>Srikar<br>Flask</h4>

            <div class="line"></div>
            <div class="pic">
                <img class="image" src="/static/images/sarvesh.jpeg">
            </div>

        </div>




    </div>
    <div class="footer">
        <p>This project was developped for the internshp at VIEH under the guidance of Manish Kumar Sir</p>
        <p style="margin-left:100px"> All the rights of images belong to their respective creators</p>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

</body>

</html>