<!DOCTYPE html>
<html>

<head>
    <link href="https://fonts.googleapis.com/css?family=SF+Pro+Text&display=swap" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=SF+Pro+Display&display=swap" rel="stylesheet" />
    <link href="{{ url_for( 'static',filename='main.css' ) }}" rel="stylesheet" />
    <title>Home</title>


</head>

<body>
    <div class="cont">
        <section id='firstpage'>
            <div class='navbar'>
                <div class="container">
                    <div class="logo">
                        <h1>Cyber Garuna</h1>
                    </div>
                    <nav>
                        <ul>
                            <li><a href="/">Home</a></li>
                            <li><a href="/login">Login</a></li>
                            <li><a href="/register_complaint">Bullied?</a></li>
                            <li><a href="/check_complaint">Check?</a></li>
                            <li><a href="/about">About</a></li>
                        </ul>
                    </nav>
                </div>
            </div>

            <div class="bdmn">
                <div class="meter">
                    <h1>{{count}}</h1>
                </div>

                <div class="mettext">
                    <h1>Number of offensive tweets have been made since the page has been refreshed</h1>

                    <h1>


                </div>

            </div>

        </section>
        <section id='secondpage'>
            <div class="secp">
                <div class="sec_upperbx">

                    <div class='secrhalf'>


                        <ul>About 37% of young people between the ages of 12 and 17 have been bullied online,30% have had it happen more than once.</ul>
                        <ul>23% of students reported that they’ve said or done something mean or cruel to another person online.</ul>
                        <ul>27% reported that they’ve experienced the same from someone else.</ul>
                        <ul>Girls are more likely than boys to be both victims and perpetrators of cyber bullying.</ul>
                        <ul>15% of teen girls have been the target of at least four different kinds of abusive online behaviors, compared with 6% of boys.</ul>
                        <ul>Young people who experience cyberbullying are at a greater risk than those who don’t for both self-harm and suicidal behaviors.</ul>
                        <ul>4 out of 5 students (81%) say they would be more likely to intervene in instances of cyberbullying if they could do it anonymously.</ul>

                    </div>

                </div>


                <div class="sec_lowrbx">
                    <div class='secrhalf'>
                        <h1>Effects of cyberbullying</h1>
                        <ul>
                            <h3>Mentally</h3> — feeling upset, embarrassed, stupid, even angry
                            <ul>
                                <h3>Emotionally</h3> — feeling ashamed or losing interest in the things you love</ul>
                            <ul>
                                <h3>Physically</h3> — tired (loss of sleep), or experiencing symptoms like stomach aches and headaches</ul>
                            <ul>The feeling of being laughed at or harassed by others, can prevent people from speaking up or trying to deal with the problem. In extreme cases, cyberbullying can even lead to people taking their own lives</ul>

                    </div>
                </div>
            </div>

        </section>
        <section id='thirdpage'>
            <div class="tirp">
                <div class="thr_upperbx">

                    <div class='thrsecrhalf'>
                        <h1>Is there a punishment for cyberbullying?</h1><br>
                        <ul>Most schools take bullying seriously and will take action against it. If you are being cyberbullied by other students, report it to your school.</ul>
                        <ul>People who are victims of any form of violence, including bullying and cyberbullying, have a right to justice and to have the offender held accountable.</ul>
                        <ul>In countries that have specific laws on cyberbullying, online behaviour that deliberately causes serious emotional distress is seen as criminal activity. In some of these countries, victims of cyberbullying can seek protection,
                            prohibit communication from a specified person and restrict the use of electronic devices used by that person for cyberbullying, temporarily or permanently.</ul>
                        <ul>However, it is important to remember that punishment is not always the most effective way to change the behaviour of bullies. It is often better to focus on repairing the harm and mending the relationship.</ul>

                    </div>

                </div>
                <div class="thr_lwrbx">

                    <div class='thrsecrhalf'>
                        <h1>Who should I talk to if someone is bullying me online? </h1><br>
                        <ul>Most schools take bullying seriously and will take action against it. If you are being cyberbullied by other students, report it to your school.</ul>
                        <ul>People who are victims of any form of violence, including bullying and cyberbullying, have a right to justice and to have the offender held accountable.</ul>
                        <ul>In countries that have specific laws on cyberbullying, online behaviour that deliberately causes serious emotional distress is seen as criminal activity. In some of these countries, victims of cyberbullying can seek protection,
                            prohibit communication from a specified person and restrict the use of electronic devices used by that person for cyberbullying, temporarily or permanently.</ul>
                        <ul>However, it is important to remember that punishment is not always the most effective way to change the behaviour of bullies. It is often better to focus on repairing the harm and mending the relationship.</ul>

                    </div>

                </div>

            </div>

        </section>
        <section id='forthpage'>
            <div class="foup"></div>
            <div class="fur_lwrbx">

                <div class='fursecrhalf'>
                    <h1>Who should I talk to if someone is bullying me online? </h1><br>
                    <div>
                        <h2>1</h2><br>
                        <h3>Collect evidence and information</h3>
                        <p>Find out about the evidence and information you need in order to make a complaint. It is also a good idea to collect evidence before you report to social media services. Read more about collecting evidence.</p>
                    </div>
                    <div>
                        <h2>2</h2><br>
                        <h3>Report to the social media service where the bullying took place</h3>
                        <p>The eSafety Guide has reporting links for social media services, apps, games and websites. If the abusive material is posted on one of the social media services we work with you should report it to them first and wait 48 hours
                            for a response.</p>
                    </div>
                    <div>
                        <h2>3</h2>
                        <p>Make a cyberbullying complaint to eSafety India is now all set to start relaunch a campaign against cyberbullying under the hashtag #HelpMeWCD. Report it to the police - The police take online harassment reports seriously and they
                            have lots of experience investigating them. Cyberbullying is dealt by the enforcement agencies under the Information Technology (IT) Act, 2000 and different sections of the Indian Penal Code (IPC).
                        </p>
                    </div>
                </div>

            </div>

        </section>
    </div>
</body>

</body>